//Palet Colors Variables

$White: #ffffff;
$Black: #000000;
$BlackGreen: #366639;
$Yellow: #dddf7e;
$Blue: #207a8633;

// Default fonts

@font-face {
    font-family: 'bold-InriaSans';
    src: url('/fonts/inria-sans/InriaSans-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'bold-italic-InriaSans';
    src: url('/fonts/inria-sans/InriaSans-BoldItalic.otf') format('truetype');
}

@font-face {
    font-family: 'regular-InriaSans';
    src: url('/fonts/inria-sans/InriaSans-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'regular-outfit';
    src: url('/fonts/outfit/OutfitRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'bold-outfit';
    src: url('/fonts/outfit/OutfitBold.ttf') format('truetype');
}

@font-face {
    font-family: 'extrabold-outfit';
    src: url('/fonts/outfit/OutfitExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'bold-inter';
    src: url('/fonts/inter/Inter-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'semibold-inter';
    src: url('/fonts/inter/Inter-SemiBold.otf') format('truetype');
}

html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    //teste
    background-color: $BlackGreen;
}

li{
    list-style-type: none;
    font-family: 'bold';
}

a{
    font-size: 12px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}
  
a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

img{
    width: 100%;
    height: 100%
}

p{
    font-size: 12px;
}