@font-face {
  font-family: "bold-InriaSans";
  src: url("/fonts/inria-sans/InriaSans-Bold.otf") format("truetype");
}
@font-face {
  font-family: "bold-italic-InriaSans";
  src: url("/fonts/inria-sans/InriaSans-BoldItalic.otf") format("truetype");
}
@font-face {
  font-family: "regular-InriaSans";
  src: url("/fonts/inria-sans/InriaSans-Regular.otf") format("truetype");
}
@font-face {
  font-family: "regular-outfit";
  src: url("/fonts/outfit/OutfitRegular.ttf") format("truetype");
}
@font-face {
  font-family: "bold-outfit";
  src: url("/fonts/outfit/OutfitBold.ttf") format("truetype");
}
@font-face {
  font-family: "extrabold-outfit";
  src: url("/fonts/outfit/OutfitExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "bold-inter";
  src: url("/fonts/inter/Inter-Bold.otf") format("truetype");
}
@font-face {
  font-family: "semibold-inter";
  src: url("/fonts/inter/Inter-SemiBold.otf") format("truetype");
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

li {
  list-style-type: none;
  font-family: "bold";
}

a {
  font-size: 12px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 36px;
  font-family: "bold-InriaSans";
}

h4 {
  font-size: 20px;
  font-family: "regular-InriaSans";
}

p {
  font-size: 18px;
  font-family: "regular-InriaSans";
  color: #666666;
}

.img-radius {
  border-radius: 20px;
}

.flex {
  display: flex;
  margin: 10px;
}

.container-image-text-default {
  display: flex;
  margin: 30px 40px 30px 40px;
  position: relative;
}

.images-left {
  width: 45%;
  margin-right: 5pc;
}

.text-right {
  width: 50%;
}

.container-icon-text {
  width: 356px;
  height: 356px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.yellow-background {
  background-color: #E0E18A;
}

.green-background {
  background-color: #366639;
}

.spacing-content {
  margin: 10px;
}

.white-text-color {
  color: #ffffff;
}

#headerContainerWhite {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}

#headerContainerTransparent {
  background-color: #ffffff;
  width: 100%;
  height: 65px;
}

#headerBar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 96%;
  position: relative;
  top: 10px;
  justify-content: space-between;
}

#logoContainer {
  width: 70px;
  height: 50px;
  margin-left: 15px;
}

#containerLinks {
  display: flex;
  align-items: center;
}

.container-links-header {
  margin-right: 45px;
}

.links-header {
  font-family: "semibold-inter";
  font-size: 13px;
  color: #366639;
}

.links-header:hover {
  color: #E0E18A;
  transition: all 0.2s ease;
}

#linkHeaderSubscribe {
  font-family: "semibold-inter";
  font-size: 14px;
  color: #366639;
  border: solid 2px #E0E18A;
  padding: 10px;
  border-radius: 17px;
  margin-right: 20px;
}

#linkHeaderSubscribe:hover {
  color: #ffffff;
  border: solid 2px #366639;
  background-color: #366639;
  padding: 10px;
  border-radius: 17px;
  margin-right: 20px;
  transition: all 0.4s ease;
}

#containerCapas {
  width: 100%;
  height: 37vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
}

.images-capas-container {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

#containerCapas img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#containerCapas::-webkit-scrollbar {
  display: none;
}

#containerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.images-capas-container {
  position: relative;
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

.buttons-carrossel {
  background-color: transparent;
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 20px;
}

.buttons-carrossel:hover {
  border: 1px solid #E0E18A;
  color: #E0E18A;
  transition: all 0.4s ease;
}

#numQuemSomos {
  font-size: 64px;
  font-family: "regular-InriaSans";
  color: #366639;
  font-weight: 800;
}

.div-separator {
  background-color: rgba(158, 158, 158, 0.4117647059);
  border-radius: 10px;
  width: 1px;
  height: 64px;
  margin: 0px 50px;
}

#textQuemSomos {
  font-size: 24px;
  font-family: "bold-InriaSans";
  color: black;
  font-weight: 800;
}

.icon-image-container {
  width: 80px;
}

.cardsQuemSomos {
  justify-content: center;
  position: relative;
  margin-top: -100px;
}/*# sourceMappingURL=main.css.map */