@import "./base.scss";

#headerContainerWhite {
  background-color: $White;
  width: 100%;
  height: 4rem;
}

.default {
  position: relative;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}

.scrolled {
  position: relative;
  z-index: 10;
  transform: translateY(-6rem);
  transition: transform 0.4s ease-in-out;
}

.fixed {
  position: fixed;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
}

#headerBar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  top: 10px;
}

#backgroundHeader {
  z-index: 1;
  position: relative;
  top: 0rem;
}

#logoContainer {
  width: 12rem;
  margin-left: 1rem;
}

#containerLinks {
  display: flex;
  align-items: center;
}

.container-links-header {
  margin-right: 2.5rem;
}

@media (max-width: 768px) {
  .container-links-header {
    margin: 0.5rem;
  }
}

.links-header {
  font-family: "semibold-inter";
  font-size: 13px;
  color: $BlackGreen;
}

.links-header:hover {
  color: $Yellow;
  transition: all 0.2s ease;
}

.link-selected {
  color: $Yellow;
}

#linkHeaderSubscribe {
  font-family: "semibold-inter";
  font-size: 0.8rem;
  color: $BlackGreen;
  border: solid 2px $Yellow;
  padding: 0.6rem;
  border-radius: 2rem;
  margin-right: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  transition: all 0.4s ease;
}

#linkHeaderSubscribe::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: $BlackGreen;
  z-index: -1;
  transition: width 0.1s ease, height 0.1s ease, top 0.1s ease, left 0.1s ease;
  transform: rotate(45deg);
}

#linkHeaderSubscribe:hover::before {
  width: 300%;
  height: 300%;
  top: -100%;
  left: -100%;
}

#linkHeaderSubscribe:hover {
  color: $White;
}

#numQuemSomos {
  font-size: 64px;
  font-family: "regular-InriaSans";
  color: $BlackGreen;
  font-weight: 800;
}

.div-separator {
  background-color: #9e9e9e69;
  border-radius: 10px;
  width: 1px;
  height: 64px;
  margin: 0px 50px;
}

#textQuemSomos {
  font-size: 24px;
  font-family: "bold-InriaSans";
  color: black;
  font-weight: 800;
}

.icon-image-container {
  width: 80px;
}

.cardsQuemSomos {
  justify-content: center;
  position: relative;
  margin-top: -100px;
}

#containerProgramacao {
  margin-top: 70px;
  background: #207a8617;
  padding: 36px 0px;
}

#textCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  grid-column-start: 2;
}

.image-cards {
  width: 10rem;
  height: 9rem;
}

.titles-container {
  margin: 18px 0px;
}

.title-cards {
  font-size: 26px;
  font-family: "bold-InriaSans";
  margin-bottom: 0.5rem;
}

.subtitle-cards {
  font-size: 18px;
  font-family: "regular-InriaSans";
}

#rowSeparator {
  width: 1px;
  margin-top: 74px;
  height: 13rem;
  background-color: #9e9e9e70;
}

#footerColor {
  background-color: $BlackGreen;
  height: 20px;
  width: 100%;
}
